@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.rFont{
  font-family: 'Work Sans', sans-serif;
}
.hFont{
  font-family: 'Roboto',sans-serif;
}
.BFont{
  font-family: 'Roboto',sans-serif;
}
.ql-toolbar {
  border-bottom: 1px solid red;
}
.ql-container {
  border-left: 1px solid red;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
 
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
 
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
 
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
 
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
 
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
 
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
 
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
 
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
 
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
 
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
 
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}
 




:root{
  --primary:#161A30;
  --secondary:#31304D;
  --bg:#f4f4f4;
  --light:#B6BBC4;
  --accent:#e2e2e2;
}
body{
  width: 100vw;
  background:  #F8F8FF  ;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: 'Roboto';
  font-weight: 400;
  scroll-behavior: smooth;
}
html{
  font-size: 85%;
  scroll-behavior: smooth;

}
@media screen and (width <= 560px) {
  html{
  font-size: 72%;

  }
}

::-webkit-scrollbar{
  width: .4rem;
  height: .4rem;
  background-color: var(--bg);
}

::-webkit-scrollbar-thumb{
  border-radius: 2px;
  width: .7rem;
  height: .7rem;
  background-color: var(--primary);

}
.ToggleShadCn.data-\[state\=checked\]\:bg-primary[data-state=checked] {
  background-color: #161A30 !important;
}
.ToggleRadio.data-\[state\=checked\]\:text-primary-foreground[data-state=checked] {
  color: black !important;
}
.center {
  display:flex;
  align-items:center;
  justify-content:center;
}
.primary{
  background-color: var(--primary);
}
.Headerlp::-webkit-scrollbar{
  width: 0rem;
  height: 0rem;
  border-radius: 20px;
  background-color: var(--light);
  
}
.Headerlp::-webkit-scrollbar-thumb{
  background-color: var(--primary);
}

.ZeroScroll::-webkit-scrollbar{
  width: 0rem;
  height: 0rem;
}

.ZeroScroll::-webkit-scrollbar-thumb{
  width: 0rem;
  height: 0rem;
}

/* //!To hide the default arrows of input:number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Hero animation CSS */


.ocean {
  height: 15%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: transparent;
  opacity: .3;
  z-index: -10;

}

.wave {
  z-index: -10;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/wavePurple.svg) repeat-x;
  position: absolute;
  bottom: -10px;
  width: 6400px;
  height: 198px;
  animation: wave 12s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite, swell 8s ease -1.25s infinite;
  transform: translate3d(0, 0, 0);
}



@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
/* @keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -20px, 0);
  }
  50% {
    transform: translate3d(0, -10px, 0);
  }
} */
.endWave{
  display:none;
}
.heroShadow{
  -webkit-box-shadow: inset -1px -15px 37px -6px rgba(217,217,217,1);
-moz-box-shadow: inset -1px -15px 37px -6px rgba(217,217,217,1);
box-shadow: inset -1px -15px 37px -6px rgba(217,217,217,1);
}
.TopCreatorsBorderRadius{
  border-radius: 100% 0% 100% 0% / 4% 100% 0% 96% ;
}
.CardBoxShadow{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.CreatorsShadow{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.ChatBgL{
  background: url("/public/images/chatbg.jpg"),  var(--secondary);
  object-position: center;
  image-resolution:100%;
  background-position: center;
  background-blend-mode:multiply;
}
.ChatBg{
  background: url("/public/images/chatbg.jpg"),  #0000002f;
  object-position: center;
  image-resolution:100%;
  background-position: center;
  background-blend-mode:darken;
}

.ChatBg::-webkit-scrollbar{
  background-color: transparent;
}
.ChatBg::-webkit-scrollbar-thumb{
  background-color: transparent;
}

.HeaderRShadow{
  -webkit-box-shadow: -8px 2px 11px -5px rgba(0,0,0,0.45);
  -moz-box-shadow: -8px 2px 11px -5px rgba(0,0,0,0.45);
  box-shadow: -8px 2px 11px -5px rgba(0,0,0,0.45);
}
.HeaderLShadow{
  -webkit-box-shadow: 11px 2px 4px -8px rgba(0,0,0,0.45);
  -moz-box-shadow: 11px 2px 4px -8px rgba(0,0,0,0.45);
  box-shadow: 11px 2px 4px -8px rgba(0,0,0,0.45);
}

.morphismBg {
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5px );
-webkit-backdrop-filter: blur( 5px );
border-radius: 10px;
}

.HeadlineBG{
  
  background:#f03d5a ;
  object-position: center;
  image-resolution:100%;
  background-position: center;
}